{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0.01;url=/easy_lsml/">
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <title>Large Scale Machine Learning Platform</title>
</head>

<body>
<header id="overview" class="jumbotron subhead">
    <div class="container">
        <h1>Large Scale Machine Learning Platform</h1>
        <p class="lead">A simplified configuration interface</p>
    </div>
</header>
</body>
</html>
