{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <title>Large Scale Machine Learning Platform</title>
</head>

<body>
<header id="overview" class="jumbotron subhead">
    <div class="container">
        <h1>Large Scale Machine Learning Platform</h1>
        <p class="lead">A simplified configuration interface</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Project Name</td>
                        <td>Owner Email</td>
                        <td>Created Time</td>
                        <td>Status</td>
                        <td>Configuration</td>
                        <td>Output</td>
                    </tr>
                </thead>
                <tbody>
                    {% if projects %}
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.owner }}</td>
                        <td>{{ project.time }}</td>
                        <td>{{ project.status }}</td>
                        <td>
                            <a id="toggleModal{{project.id}}" class="btn" role="button">view</a>
                        </td>
                        <td>
                            <a id="toggleOutput{{project.id}}" class="btn" role="button">view</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="6" class="text-center"> Currently not available </td></tr>
                    {% endif %}
                </tbody>
            </table>
            <div>
            {% if projects %}
            {% for project in projects %}
                <div id="modal{{project.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{project.id}}" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="modalLabel{{project.id}}">Configuration for {{project.name}} by {{project.owner}}</h3>
                        <small>You can trigger the project again by copy this xml file to TASKPOOL on phxaidiedge3</small>
                    </div>
                    <div class="modal-body">
                        <p>{{ project.config }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
                <div id="output{{project.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="outputLabel{{project.id}}" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="outputLabel{{project.id}}">Output for {{project.name}} by {{project.owner}}</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                        {% autoescape off %}
                        {{ project.output }}
                        {% endautoescape %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="span3">
            <a href="/easy_lsml/new/" class="btn btn-large btn-block btn-primary" role="button">Build Your Model</a>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static "js/js_query.js" %}"></script>
<script>
$(document).ready(function(){
{% if projects %}
{% for project in projects %}
        $('a#toggleModal{{project.id}}').click(function(){
            $('#modal{{project.id}}').modal()
        });
        $('a#toggleOutput{{project.id}}').click(function(){
            $('#output{{project.id}}').modal()
        });
{% endfor %}
{% endif %}
});
</script>
</body>
</html>
